{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome, página home</h1>

<div>
    {{ form(form) }}
</div>

<div>
    {% for comment in comments %}
        <p>{{ comment.body }}</p>
    {% endfor %}
</div>
{% endblock %}